{% if requests is defined and requests.length != 0 %}
    <table class="request-table">
        <tr>
            <th>PID</th>
            <th>Status</th>
            <th>Host</th>
            <th>Path</th>
            <th>IP Address</th>
            <th>XHR</th>
            <th>Active Requests</th>
            <th>Created At</th>
            <th>Request Time</th>
        </tr>
        {% for data in requests %}
            <tr class="request-row" onclick="location.href = '/_profiler/dashboard/request/{{ data.profilerId|url_encode }}';">
                <td>{{ data.pid }}</td>
                <td class="status-{{ data.response.statusCode }}">{{ data.response.statusCode }}</td>
                <td>{{ data.request.headers.host }}</td>
                <td>{{ data.request.originalUrl }}</td>
                <td>{{ data.request.ip }}</td>
                <td>{{ data.request.xhr ? 'XHR' : 'NO' }}</td>
                <td>{{ data.activeRequests|number_format(0, '.', ',') }}</td>
                <td>
                    {{ data.createdAt|date('g:i:sa') }} @
                    <span class="milliseconds">{{ (data.createdAt|date('u') / 1000)|round(3, 'floor') }}ms</span>
                </td>
                <td>
                    {{ ((data.finishedAt - data.startedAt) / 1000 / 1000)|number_format(3, '.', ',') }} seconds
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}