{% extends '@conga/framework-profiler:layout' %}

{% block content_header_wrapper %}
    <header class="request status-{{ request.response.statusCode }}">
        <div class="content">
            {% block content_header %}
                <h2>
                    <span class="status-code">
                        {{ request.response.statusCode }} {{ request.response.statusMessage }}
                    </span>
                    // {{ request.request.method }}
                    <span class="normal">
                        <a target="_blank"
                           href="{{ request.request.protocol }}://{{ request.request.headers.host }}{{ request.path }}">
                            {{ request.request.protocol }}://{{ request.request.headers.host }}{{ request.path }}
                        </a>
                    </span>
                </h2>
                <div class="request-header-content">
                    {% block request_header '' %}
                </div>
                <script type="text/javascript">
                    // output the loaded request to the console for debug
                    console.log('request', ({{ request|json_encode }}));
                </script>
            {% endblock %}
        </div>
    </header>
{% endblock content_header_wrapper %}